@mixin flexColumn($gap) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

.Components {
  max-width: 300px;
  margin: auto;
  margin-top: 50px;
  @include flexColumn(10px);

  &__buttons {
    @include flexColumn(10px);

    .btn {
      width: 100%;
    }
  }

  &__inputs {
    margin-top: 50px;
    @include flexColumn(30px);
  }
}
