.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 5rem;

  h2 {
    color: var(--form-heading);
  }

  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;

    .btn-underline {
      border-bottom: none;
    }

    .btn-login,
    .btn-register {
      padding: 3px;
      position: relative;
      color: var(--form-btn-underline);
      
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 20%;
        height: 1px;
        background-color: var(--form-btn-underline);
        transition: width 0.5s;
      }

      &:hover {
        color: var(--form-btn-underline-hover);

        &:after {
          width: 80%;
          background-color: var(--form-btn-underline-hover);
        }
      }
    }
  }
}
